* {
	margin: 0;
	padding: 0;
	border: 0;

	outline: none;
	text-decoration: none;
	outline: none;

    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
	}

.nav {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #fff;
    padding-bottom: px;

}

.nav > button {
    font-size: 36px;
    width: 60px;
    height: 60px;
    border-radius: 50px;

    position: absolute;
    right: 1vw;
    top: 12px;

    color: #fff;
    background-color: #666;
}

.body > svg {
    font-size: 36px;
    color: #666;
}

body {
    background-color: #666;
}

.card {
    background-color: #fff;
    width: 300px;
    height: 350px;
    padding: 40px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.25);
}

.textcont {
    text-align: center;
}

.cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    max-width: 1200px;
    margin-top: 125px;
    column-gap: 60px;
    row-gap: 100px;

}

.save {
    position: absolute;
    height: 50px;
    width:  160px;
    margin-left: 30px;
    margin-top: 35px;
    margin-right: px !important;
    background-color: #fff;
    color: #666;
    border: 1.5px solid #666;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.25);

    border-radius: 30px;
    cursor: pointer;
}

.title {
    font-size: 18px;
    padding: 20px;
    text-decoration: underline;
    text-decoration-color: #666;
    text-underline-offset: 10px;
}

.subcont {
    color: #fff;
    background-color: #666;
    width: 160px;
    height: 160px;
    border-radius: 100px;
    margin-left: 12.5%;
    padding-top: 12.5%;

}

.sub {
    font-size: 80px;

}

.text {
    font-size: 18px;
    font-weight: bold;
}

.btntxt {
    text-align: left;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 14px;
}

.save > span {
    font-size: 36px;
    text-align: right;
}
